
:root {                         /* Variables de CSS */
    --text-light: #D6D3D6;
    --text-dark: #0F0F0F;
    --text-muted: #595659;
    --text-white: #fff;
    
    --bg-light: #D6D3D6;
    --bg-dark: #0F0F0F;
}


body {
    font-family: 'Helvetica', 'Arial', sans-serif;
    margin: 0;
    width: min(100% , 700px);
    background-color: var(--bg-light);
    margin-inline: auto;
    font-size: 14px;
    color: var(--text-dark);
}

header {   
    padding: 1em;
}

nav {
    padding-inline: 1em;
    padding-block: 1em;
    display: flex; 
    justify-content: space-between; 
}

nav a {
    color: var(--text-dark);
    text-decoration: none ;
    font-weight: bold;
}

nav ul {
    display: flex; 
    list-style: none; 
}

nav li {
    padding-left: 1rem;
}

section {
    padding-inline: 1em;
}

article {
    padding-block: 1em;
}

footer {
    border-top: 1px solid var(--text-dark);
    padding: 1em;
    display: flex;
}

a {
    color: 1px solid var(--text-dark);
    font-weight: bold;
}

p {
    line-height: 1.6em;
}
